/* JQM Demos custom CSS */
@font-face {
	font-family: Nunito;
	src: url('Nunito-Regular.ttf');
	src: url('Nunito-Bold.ttf');
	src: url('Nunito-Light.ttf');
}

/* Header */
.jqm-demos a{
	
}
.jqm-demos li a,
.jqm-demos li,
.jqm-demos h2,
.jqm-demos h3,
.jqm-demos h4,
.jqm-demos p{
	font-family:Nunito !important;
}
.jqm-demos .jqm-header {
	/*
	background: #5C4E0F;
	background-image: linear-gradient(to bottom, #978634, #6d5c0a);
	border-top: 4px solid #534929;
	border-bottom-color: #000;
	*/
	background: #AF2B0A;
	background-image: linear-gradient(to bottom, #A81118, #640002);
	border-top: 4px solid #640002;
	border-bottom-color: #000;
	position:fixed;
	width:100%;
	z-index:1002;
}
.jqm-demos .jqm-sub-header {
	top:61px;
	left:0;
	position:fixed;
	width:100%;
	z-index:1002;
	font-family:Nunito;
}
.jqm-demos .jqm-header h2 {
	padding: .4em 0 .1em;
	margin: 0 3em 0 0.7em;
	text-align:left;
}
.jqm-demos .jqm-header h2 a {
	display: inline-block;
	text-decoration: none;
	min-height: 40px;
}
#hide-search-bar-mallam-musa img,
#hide-search-bar-home-page img,
#hide-search-bar-business-details img,
.jqm-demos .jqm-header h2 img {
	display: block;
	width: auto;
	height: 33px;
}
.jqm-demos .jqm-header h2 img {
	margin:0.48em auto;
}
#hide-search-bar-home-page img,
#hide-search-bar-mallam-musa img,
#hide-search-bar-business-details img{
	margin-left: 0.5em;
	margin-top: 0.18em;
}
#hide-search-bar-home-page img,
#hide-search-bar-business-details img,
.jqm-demos .jqm-header h2 > img {
	display: inline-block;
}
.jqm-demos .jqm-header p {
	position: absolute;
	bottom: -2em;
	left: 1em;
	margin: 0;
	color: #666;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
}
.jqm-demos .jqm-sub-header .ui-btn,
.jqm-demos .jqm-header .ui-btn {
	width: 2em;
	height: 2em;
	background: none;
	border: 0;
	right:0;
	top: 50%;
	margin-top: -1em;
	-webkit-border-radius: .3125em;
	border-radius: .3125em;
	opacity: .4;
	filter: Alpha(Opacity=40);
}
/*Sub Header*/
.jqm-demos .jqm-sub-header .ui-title{
	font-size: 0.8em;
	min-height: 0.9em;
}
.jqm-demos .jqm-sub-header{
	background-color: #1b1b1b;
	background-image: -moz-linear-gradient(top, #222222, #111111);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
	background-image: -webkit-linear-gradient(top, #222222, #111111);
	background-image: -o-linear-gradient(top, #222222, #111111);
	background-image: linear-gradient(to bottom, #222222, #111111);
	background-repeat: repeat-x;
	border-color: #252525;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
	
	-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
	
	color: #f6e492;
	text-shadow: 0 1px 0 #111;
}
/*Sub Header*/

/* Footer */
.jqm-demos .jqm-footer.ui-footer {
	position: absolute;
	bottom: 0;
	padding-bottom: 0;
}
.jqm-demos .jqm-footer {
	border-top: 1px solid #3eb249;
}
.jqm-demos .jqm-footer p {
	font-size: .8em;
	color: #999;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin: 0 1.25em 1.25em;
}
.jqm-demos .jqm-footer p:first-child {
	font-size: 1em;
	color: #666;
	font-weight: 400;
	margin: 1em 1em .75em;
}

/* Content */
.jqm-demos .jqm-content-1 {
	/*padding: 1em;*/
	padding: 0 !important;
	margin-top:101px;
	overflow:hidden !important;
}
.jqm-demos .jqm-content {
	padding: 0 !important;
	margin-top:101px;
	overflow:hidden !important;
}
.jqm-demos .jqm-content-1  .example-wrapper{
	padding: 0.5em !important;
}
.ui-mobile .ui-page-active{
	/*overflow:hidden !important;*/
}
.jqm-demos .jqm-content > h1,
.jqm-demos .jqm-content > h2,
.jqm-demos .jqm-content > h3,
.jqm-demos .jqm-content > p,
.jqm-demos .jqm-content > ul li,
.jqm-demos .jqm-content > a {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
.jqm-demos .jqm-content > h1 {
	font-size: 2.4em;
	margin: 0 0 .625em;
}
.jqm-demos .jqm-content > h2 {
	color: #3eb249;
	background-color: transparent;
	border-bottom: 1px solid #ddd;
	font-size: 1.6em;
	padding-bottom: .2em;
	margin: 0 0 .7375em;
}
.jqm-demos .jqm-content > h3 {
	color: #3eb249;
	background-color: transparent;
	font-size: 1.4em;
	margin: 0 0 1em;
}
.jqm-demos .jqm-content > p {
	font-size: 1.2em;
	line-height: 1.5;
}
.jqm-demos .jqm-content > ul:not(.jqm-list) li {
	font-size: 1.2em;
	line-height: 1.5;
}
.jqm-demos .jqm-content > p {
	margin: 0 0 1.25em;
}
.jqm-demos .jqm-content > ul,
.jqm-demos .jqm-content > ol {
	padding-left: 1.3em;
}
.jqm-demos .jqm-content > .ui-listview {
	padding-left: 0;
}
.jqm-demos .jqm-content > a,
.jqm-demos .jqm-content > p a,
.jqm-demos .jqm-content > ul:not(.jqm-list) li a {
	font-weight: 400;
	text-decoration: none;
}
.jqm-demos .jqm-content strong {
	font-weight: 700;
}
.jqm-demos .jqm-content > p strong {
	font-weight: 400;
}

/* Homepage */
.jqm-home > .jqm-content > img {
	/*width: 400px;*/
	max-width: 100%;
	display: block;
	margin: 0 0 1em 0;
}
.jqm-home .ui-grid-a {
	/*margin: 2.5em -.5em -.5em;*/
	margin:-1em;
}
.jqm-block-content {
	margin: .5em;
	padding: 1em;
	background: #fff;
	border: 1px solid #eee;
	-webkit-border-radius: .3125em;
	border-radius: .3125em;
	font-family: 'Open Sans', sans-serif;
	
	padding-bottom: 1em;
	margin-bottom: 0;
}
.jqm-block-content h3 {
	font-size: 1em;
	font-weight: 300;
	color: #3eb249;
	border-bottom: 1px solid #ddd;
	/*padding-bottom: .25em;*/
	margin: 0.5em;
	margin-bottom: 0;
	margin-left: 0;
}
.jqm-block-content p {
	font-size: 1.1em;
	font-weight: 300;
	line-height: 1.4;
	margin: .7em 0;
}
.jqm-block-content p:last-child {
	margin-bottom: 0;
}
.jqm-block-content a:link {
	font-weight: 300;
	text-decoration: none;
}

/* Code */
.jqm-content pre,
.jqm-content code {
	font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
	background: #e5e5e5;
	background: rgba(0,0,0,.05);
	padding: 0 .125em;
}
.jqm-content pre {
	padding: 0 1em 1.2em;
	white-space: pre-wrap;
}
.jqm-content pre > code {
	padding: 0;
	background: none;
	font-size: .9em;
}

/* Lists */
.jqm-demos .jqm-search .jqm-list {
	margin: 0 -1em 1em;
}
.jqm-demos .jqm-list .ui-btn,
.jqm-demos .jqm-list .ui-btn:visited,
.jqm-demos .jqm-list .ui-li-divider {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	text-shadow: none !important;
}
.jqm-demos .jqm-list .ui-btn:hover,
.jqm-demos .jqm-list .ui-btn:active {
	color: #3388cc;
}
.jqm-demos .jqm-list .ui-btn.ui-btn-active {
	color: #fff;
}
.jqm-demos .jqm-list .ui-li-divider {
	color: #3eb249;
}

/* Navmenu */
.jqm-navmenu-panel .ui-listview > li .ui-collapsible-heading {
	margin: 0;
}
.jqm-navmenu-panel .ui-collapsible.ui-li-static {
	padding: 0;
	border: none !important;
}
.jqm-navmenu-panel .ui-collapsible + li > .ui-btn,
.jqm-navmenu-panel .ui-collapsible + .ui-collapsible > .ui-collapsible-heading > .ui-btn,
.jqm-navmenu-panel .ui-panel-inner > .ui-listview > li.ui-first-child .ui-btn {
	border-top: none !important;
}
.jqm-navmenu-panel .ui-listview .ui-listview .ui-btn {
	padding-left: 1.5em;
	color: #999;
}
.jqm-navmenu-panel .ui-listview .ui-listview .ui-btn.ui-btn-active {
	color: #fff;
}
.jqm-navmenu-panel .ui-btn:after {
	opacity: .4;
	filter: Alpha(Opacity=40);
}
.jqm-demos .jqm-navmenu-panel.jqm-panel-page-nav {
	display: none;
	position: absolute;
	top: 178px;
	left: 12px;
}
.jqm-demos .jqm-navmenu-panel.jqm-panel-page-nav ul li:first-child a{
	border-top: none;
}
/* Search */
.jqm-search-panel .ui-panel-inner {
	padding-top: 0;
}
.jqm-search-panel .ui-input-search {
	margin: 1em 0;
}
.jqm-search-panel .ui-input-search.ui-focus {
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
	box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
}
.jqm-list .jqm-search-results-keywords {
    padding: .46857em 0 0;
    font-size: .8em;
    font-weight: 300;
    color: #999;
    display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.ui-btn-active .jqm-search-results-keywords {
    color: #fff;
}
.jqm-search-results-highlight {
    color: #3388cc;
    font-weight: 400;
}
.ui-btn-active .jqm-search-results-highlight {
    color: #fff;
    font-weight: 300;
}

/* Quick links */
.jqm-demos .jqm-content .jqm-deeplink {
	display: block;
	color: #999;
	font-weight: 300;
	border-top: 1px solid #eee;
	text-align: right;
	padding-top: .2em;
	margin: 0 0 1.5em;
}
.jqm-demos .jqm-content .jqm-deeplink:after {
	content: "";
	display: block;
	float: right;
	margin: .1em 0 0 .5em;
	width: 1em;
	height: 1em;
	background-position: center center;
	background-repeat: no-repeat;
	opacity: .4;
	filter: Alpha(Opacity=40);
}

/* View source links */
.jqm-demos .jqm-content .jqm-view-source-link,
.jqm-demos .jqm-content .jqm-view-source-link:visited,
.jqm-demos .jqm-content .jqm-view-source-link:hover,
.jqm-demos .jqm-content .jqm-view-source-link:active {
	color: #3eb249;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	margin: 2em 0 1.5em 1em;
}
.jqm-demos .jqm-content .jqm-view-source-link.ui-btn-active:link {
	color: #fff;
}
.jqm-demos .jqm-navmenu-panel {
	z-index:1004;
}
@media (min-width: 60em) {
	.jqm-demos .jqm-header h2 {
		/*
		padding: 1em 0 .7em;
		margin: 0 1em 0 3%;
		*/
		text-align: left;
	}
	.jqm-demos .jqm-header h2 img {
	/*
		width: 275px;
		height: 78px;
		*/
	}
	.jqm-demos .jqm-header p {
		bottom: auto;
		left: auto;
		top: 50%;
		right: 15%;
		font-size: 1.2em;
		margin-top: -.625em;
	}
	.jqm-demos .jqm-navmenu-link {
		display: none;
	}
	.jqm-demos .jqm-search-link {
		right: 3%;
	}
	.jqm-demos .jqm-footer p {
		float: right;
		margin: 1.5em 3% 1.5em 1.5em;
	}
	.jqm-demos .jqm-footer p:first-child {
		float: left;
		margin: 1.25em 1.25em 1.25em 3%;
	}
	.jqm-demos .jqm-navmenu-panel {
		visibility: visible;
		position: fixed;
		left: 0;
		float: left;
		width: 25%;
		background: none;
		-webkit-transition: none !important;
		-moz-transition: none !important;
		transition: none !important;
		-webkit-transform: none !important;
		-moz-transform: none !important;
		transform: none !important;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		margin-top:97px;
		overflow-y:scroll;
		margin-bottom:10px;
		z-index:1000;
	}
	.jqm-demos.jqm-panel-page .jqm-navmenu-panel {
		display: none;
	}
	html .jqm-demos.jqm-panel-page .jqm-navmenu-panel.jqm-panel-page-nav {
		display: block;
	}
	.jqm-demos .jqm-navmenu-panel .ui-panel-inner {
		/*margin-top: 3em;*/
		margin-bottom: 3em;
	}
	.jqm-demos .jqm-content {
		/*width: 67%;*/
		width: 75%;
		padding: 0 !important;
		float: right;
	}
    .jqm-demos .jqm-content.jqm-fullwidth {
		width: auto;
		padding-left: 15%;
		padding-right: 15%;
		float: none;
	}
	.jqm-navmenu-panel .ui-listview .ui-btn {
		padding-left: 12.5%;
	}
	.jqm-navmenu-panel .ui-listview .ui-listview .ui-btn {
		padding-left: 15%;
	}
	.jqm-navmenu-panel .ui-collapsible,
	.jqm-navmenu-panel .ui-collapsible-content,
	.jqm-navmenu-panel .ui-btn {
		background: none !important;
		border-color: #ddd !important;
	}
	.jqm-navmenu-panel .ui-btn.ui-btn-active {
		color: #3388cc !important;
	}
	.jqm-navmenu-panel .ui-btn::after {
		opacity: 0;
		-webkit-transition: opacity 500ms ease;
		-moz-transition: opacity 500ms ease;
		transition: opacity 500ms ease;
	}
	.jqm-navmenu-panel .ui-btn:hover::after {
		opacity: .4;
	}
	.jqm-search-panel {
		width: 26em;
		right: -26em;
		z-index: 1003; /* Puts the panel on top of the dismiss modal which is not adjusted to custom width */
	}
	.jqm-search-panel.ui-panel-animate.ui-panel-position-right {
		-webkit-transform: translate3d(26em,0,0);
		-moz-transform: translate3d(26em,0,0);
		transform: translate3d(26em,0,0);
	}
	.ui-panel-dismiss-open.ui-panel-dismiss-position-right {
		left: -17em;
		right: 17em;
	}
}
@media (min-width: 35em) {
	.jqm-block-content {
		/*min-height: 18em;*/
	}
}

/* View source popup */
#jqm-view-source-popup.ui-popup-container {
	width: 90%;
	max-width: 1500px;
}
.jqm-view-source .ui-collapsible-set {
	margin: 0;
}
.jqm-view-source .ui-collapsible-heading .ui-btn {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
.jqm-view-source .ui-collapsible-heading .ui-btn-inner {
	padding: .4em;
}
.jqm-view-source .ui-collapsible-content {
	padding: 0;
	overflow: auto;
}
.jqm-view-source .ui-collapsible-content .phpStatus {
	padding: 1em;
}
.jqm-view-source .ui-collapsible-content > div,
.jqm-view-source .ui-collapsible-content .syntaxhighlighter {
	border-bottom-right-radius: inherit;
	border-bottom-left-radius: inherit;
}
.jqm-view-source .ui-collapsible-content::-webkit-scrollbar {
    width: 5px;
}
.jqm-view-source .ui-collapsible-content::-webkit-scrollbar-track {
    background: transparent;
}
.jqm-view-source .ui-collapsible-content::-webkit-scrollbar-thumb {
	background: #435A5F;
	border: solid #222;
	border-width: 12px 2px 12px 0;
	border-bottom-right-radius: 5px;
}
.jqm-view-source .ui-collapsible-content td.code .container > textarea {
	resize: none;
}

/* Button C - HTML */
.jqm-view-source .ui-btn.ui-btn-c,
.jqm-view-source .ui-btn.ui-btn-c:visited,
.jqm-view-source .ui-btn.ui-btn-c:hover,
.jqm-view-source .ui-btn.ui-btn-c:active,
.jqm-view-source .ui-btn.ui-btn-c.ui-btn-active {
	background: #005aff;
	border-color: #0033cc;
	color: #fff;
	text-shadow: 0 1px 0 #0033cc;
}
/* Button D - PHP */
.jqm-view-source .ui-btn.ui-btn-d,
.jqm-view-source .ui-btn.ui-btn-d:visited,
.jqm-view-source .ui-btn.ui-btn-d:hover,
.jqm-view-source .ui-btn.ui-btn-d:active,
.jqm-view-source .ui-btn.ui-btn-d.ui-btn-active {
	background: #ed1c24;
	border-color: #ff0000;
	color: #fff;
	text-shadow: 0 1px 0 #ff0000;
}
/* Button E - JS */
.jqm-view-source .ui-btn.ui-btn-e,
.jqm-view-source .ui-btn.ui-btn-e:visited,
.jqm-view-source .ui-btn.ui-btn-e:hover,
.jqm-view-source .ui-btn.ui-btn-e:active,
.jqm-view-source .ui-btn.ui-btn-e.ui-btn-active {
	background: #3EB249;
	border-color: #108040;
	color: #fff;
	text-shadow: 0 1px 0 #108040;
}
/* Button F - CSS */
.jqm-view-source .ui-btn.ui-btn-f,
.jqm-view-source .ui-btn.ui-btn-f:visited,
.jqm-view-source .ui-btn.ui-btn-f:hover,
.jqm-view-source .ui-btn.ui-btn-f:active,
.jqm-view-source .ui-btn.ui-btn-f.ui-btn-active {
	background: #ec008c;
	border-color: #cc0099;
	color: #fff;
	text-shadow: 0 1px 0 #cc0099;
}

/**
 * SyntaxHighlighter
 * http://alexgorbatchev.com/SyntaxHighlighter
 *
 * SyntaxHighlighter is donationware. If you are using it, please donate.
 * http://alexgorbatchev.com/SyntaxHighlighter/donate.html
 *
 * @version
 * 3.0.83 (July 02 2010)
 *
 * @copyright
 * Copyright (C) 2004-2010 Alex Gorbatchev.
 *
 * @license
 * Dual licensed under the MIT and GPL licenses.
 */
.syntaxhighlighter a,
.syntaxhighlighter div,
.syntaxhighlighter code,
.syntaxhighlighter table,
.syntaxhighlighter table td,
.syntaxhighlighter table tr,
.syntaxhighlighter table tbody,
.syntaxhighlighter table thead,
.syntaxhighlighter table caption,
.syntaxhighlighter textarea {
	background: none;
	border: 0;
	bottom: auto;
	float: none;
	left: auto;
	height: auto;
	line-height: 18px;
	margin: 0;
	outline: 0;
	overflow: visible;
	padding: 0;
	position: static;
	right: auto;
	text-align: left;
	top: auto;
	vertical-align: baseline;
	width: auto;
	box-sizing: content-box;
	font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
	font-weight: normal;
	font-style: normal;
	font-size: 14px;
	min-height: inherit;
	min-height: auto;
}
.syntaxhighlighter {
	width: auto;
	margin: 0;
	padding: 1em 0;
	position: relative;
	overflow: auto;
	font-size: 13px;
}
.syntaxhighlighter.source {
	overflow: hidden;
}
.syntaxhighlighter .bold {
	font-weight: bold;
}
.syntaxhighlighter .italic {
	font-style: italic;
}
.syntaxhighlighter .line {
	white-space: pre;
	white-space: pre-wrap;
}
.syntaxhighlighter table {
	width: 100%;
}
.syntaxhighlighter table caption {
	text-align: left;
	padding: .5em 0 0.5em 1em;
}
.syntaxhighlighter table td.code {
	width: 100%;
}
.syntaxhighlighter table td.code .container {
	position: relative;
}
.syntaxhighlighter table td.code .container textarea {
	box-sizing: border-box;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	background: white;
	padding-left: 1em;
	overflow: hidden;
	white-space: pre;
}
.syntaxhighlighter table td.gutter .line {
	text-align: right;
	padding: 0 0.5em 0 1em;
}
.syntaxhighlighter table td.code .line {
	padding: 0 1em;
}
.syntaxhighlighter.show {
	display: block;
}
.syntaxhighlighter.collapsed table {
	display: none;
}
.syntaxhighlighter .line.alt1 {
	background-color: transparent;
}
.syntaxhighlighter .line.alt2 {
	background-color: transparent;
}
.syntaxhighlighter .line.highlighted.alt1, .syntaxhighlighter .line.highlighted.alt2 {
	background-color: #253e5a;
}
.syntaxhighlighter .line.highlighted.number {
	color: #38566f;
}
.syntaxhighlighter table caption {
	color: #d1edff;
}
.syntaxhighlighter .gutter {
	color: #afafaf;
}
.syntaxhighlighter .gutter .line {
	border-right: 3px solid #435a5f;
}
.syntaxhighlighter .gutter .line.highlighted {
	background-color: #435a5f;
	color: #0f192a;
}
.syntaxhighlighter.collapsed {
	overflow: visible;
}
.syntaxhighlighter .plain, .syntaxhighlighter .plain a {
	color: #eee;
}
.syntaxhighlighter .comments, .syntaxhighlighter .comments a {
	color: #5ba1cf;
}
.syntaxhighlighter .string {
	color: #98da31;
}
.syntaxhighlighter .string a {
	color: #1dc116;
}
.syntaxhighlighter .keyword {
	color: #ffae00;
}
.syntaxhighlighter .preprocessor {
	color: #8aa6c1;
}
.syntaxhighlighter .variable {
	color: #ffaa3e;
}
.syntaxhighlighter .value {
	color: #f7e741;
}
.syntaxhighlighter .functions {
	color: #ffaa3e;
}
.syntaxhighlighter .constants {
	color: #e0e8ff;
}
.syntaxhighlighter .script {
	font-weight: bold;
	color: #b43d3d;
	background-color: none;
}
.syntaxhighlighter .color1 {
	color: #8df;
}
.syntaxhighlighter .color1 a {
	color: #f8bb00;
}
.syntaxhighlighter .color2, .syntaxhighlighter .color2 a {
	color: white;
}
.syntaxhighlighter .color3, .syntaxhighlighter .color3 a {
	color: #ffaa3e;
}
.syntaxhighlighter table td.code {
	cursor: text;
}
.syntaxhighlighter table td.code .container textarea {
	background: #eee;
	white-space: pre;
	white-space: pre-wrap;
}
.syntaxhighlighter ::-moz-selection {
	background-color: #3399ff;
	color: #fff;
	text-shadow: none;
}
.syntaxhighlighter ::-webkit-selection {
	background-color: #3399ff;
	color: #fff;
	text-shadow: none;
}
.syntaxhighlighter ::selection {
	background-color: #3399ff;
	color: #fff;
	text-shadow: none;
}

.notifications-icon{
	right:0.5em;
	position:absolute;
	z-index:1;
	margin-top:-0.1em;
}
.hide-this-element{
	display:none;
}


#events-notification-container{
	margin-top:0 !important;
	margin-bottom:-1em !important;
	min-height:10px;
}
#events-notification-container .events-notification-holder{
	margin-top:-1em !important;
}
#events-notification-container li.advert-content{
	padding:0 !important;
}
#events-notification-container .events-details-additional-info,
#events-notification-container .events-details-control-buttons{
	margin:1em !important;
}
.events-notification-container{
	margin-top:-1.3em !important;
	margin-bottom:-1em;
}
.events-notification-container .ui-btn{
	background:#fff;
	font-size: 0.8em;
	font-weight: 300;
	color: #3eb249;
	border-top: none;
	border-bottom: none;
	font-family: 'Open Sans', sans-serif;
}
.events-notification-container .ui-btn-icon-left{
	padding-left:0.5em;
}
.events-notification-container .ui-li-divider{
	margin: 0.5em;
	margin-bottom: 0;
	font-weight:normal;
	padding-left:0.2em;
	/*background:#f6e492 !important;*/
}
.events-notification-container .ui-icon-plus:after{
	/*background-image:none;*/
}
.events-notification-container .ui-btn-icon-left:after{
	content:"";
	width:0;
	height:0;
}
.events-notification-container .events-notifications-content{
	padding-bottom:1em;
	position:relative;
}
.events-notification-container .half-open-events-notifications{
	max-height:150px;
	overflow:hidden;
	position:relative;
}
@media (min-height: 900px) {
	.events-notification-container .half-open-events-notifications{
		max-height:350px !important;
	}
}
@media (min-height: 450px) {
	#player{
		min-height:400px !important;
	}
}
.events-notification-container .events-details-control-buttons{
	bottom:0;
	right:0;
	position:absolute;
}

.events-notification-container .open-events-details,
.events-notification-container .open-events-view{
	display:none;
}
.events-notification-container .close-events-details{
	display:block;
}

.events-notification-container .half-open-events-notifications .open-events-details,
.events-notification-container .half-open-events-notifications .open-events-view{
	display:block;
}
.events-notification-container .half-open-events-notifications .close-events-details{
	display:none;
}

#category-navigation-container .ui-listview,
#businesses-container .ui-listview{
	margin:0;
}

#description-of-business-activity{
	font-size:1.1em;
}
#display-image-thumbs img.images-thumb{
	cursor:pointer;
}

.border-round{
	border:1px solid #ddd !important;
}
.yellow a.ui-icon-plus{
	background:#f6e492 !important;
	/*background:#F3D64E !important;*/
	color:#111 !important;
	font-family:"Helvetica Neu", verdana !important;
}
.yellow a.ui-icon-minus{
	color:#111 !important;
	font-family:"Helvetica Neu", verdana !important;
	
}
.content-scrollable-area{
	/*max-height:500px;*/
	overflow-y:scroll;
}
.ui-content .businesses-container{
	/*margin-top:0.2em;*/
}
.ui-content .search-results-container{
	max-height:100%;
	overflow-y:scroll;
}
.ui-content .search-results-container ul.ui-listview{
	margin:0;
}
.ui-content .search-results-container li h2,
.ui-content .businesses-container li h2{
	margin:0;
	font-family:"Helvetica Neu", verdana !important;
	font-weight:normal;
}
.ui-content .businesses-container ul.ui-listview>li>.navigate,
.ui-content .search-results-container ul.ui-listview>li>.navigate,
.ui-content .search-results-container .ui-li-has-thumb>.ui-btn,
.ui-content .businesses-container .ui-li-has-thumb>.ui-btn{
	padding-left:8.2em;
}
.ui-content .businesses-container ul.ui-listview>li.ui-li-divider,
.ui-content .search-results-container ul.ui-listview>li.ui-li-divider{
	padding-left:0.2em;
}
.ui-content .search-results-container .ui-li-has-thumb>.ui-btn>img:first-child,
.ui-content .businesses-container .ui-li-has-thumb>.ui-btn>img:first-child{
	max-height:100%;
	max-width:100%;
}

.ui-content .ui-grid-a>.ui-block-a, .ui-content .ui-grid-a>.ui-block-b{
	width:100% !important;
}

ul.ui-listview div.image-container{
	position: absolute;
	left: 0;
	top: 0px;
	height: 102px;
	width: 119px;
	overflow: hidden;
}

#rate-business-form .rate-form-finish,
#rate-business-popup.in-search-mode,
#events-notification-container.in-search-mode,

#search-results-container,
#search-results-container.in-category-navigation-mode,

#businesses-container.in-category-navigation-mode,
#businesses-container.in-search-mode,

#category-navigation-container,
#category-navigation-container.in-search-mode,

#business-details-container .loading-mode,
#iservice-search-button-mallam-musa.in-search-mode,
#iservice-search-button-business-details.in-search-mode,
#iservice-search-button-home-page.in-search-mode,
#application-title-bar-mallam-musa.in-search-mode,
#application-title-bar-business-details.in-search-mode,
#application-title-bar-home-page.in-search-mode{
	display:none;
}
#iservice-search-field-mallam-musa,
#iservice-search-field-business-details,
#iservice-search-field-home-page{
	display:none;
	padding:0.5% 2%;
}

#category-navigation-container.in-category-navigation-mode,
#search-results-container.in-search-mode,
#iservice-search-field-mallam-musa.in-search-mode,
#iservice-search-field-business-details.in-search-mode,
#iservice-search-field-home-page.in-search-mode{
	display:block !important;
}
#iservice-search-field-mallam-musa div.ui-input-search,
#iservice-search-field-business-details div.ui-input-search,
#iservice-search-field-home-page div.ui-input-search{
	width:60%;
}
#iservice-search-field-mallam-musa a#hide-search-bar-mallam-musa,
#iservice-search-field-business-details a#hide-search-bar-business-details,
#iservice-search-field-home-page a#hide-search-bar-home-page{
	margin:0.72em 0;
}

#loading-page-tutorial,
#loading-page{
	/*
	background:linear-gradient(to bottom, #978634, #6d5c0a);
	background:#6d5c0a;
	*/
	background: #AF2B0A;
	background-image: linear-gradient(to bottom, #A81118, #640002);
	color: #ccc;
	font-size: 14px;
}

.loader {
  width: 260px;
  height: 260px;
  line-height: 260px;
  margin: 260px auto;
  position: relative;
  box-sizing: border-box;
  text-align: center;
  z-index: 0;
  text-transform: uppercase;
}
.loader-animation{
  width: 120px;
  height: 120px;
  line-height: 120px;
  margin: 10px auto;
  position: relative;
  box-sizing: border-box;
  text-align: center;
  z-index: 0;
  text-transform: uppercase;
}
#business-details .loader-animation-container{
	width:100%;
	height:100%;
	margin:-10px 0;
}
#app-loading-animation-id,
#business-details .loader-animation-container,
ul.app-loading-animation,
ul.app-loading-animation li{
	background: #AF2B0A !important;
	background-image: linear-gradient(to bottom, #A81118, #640002) !important;
	
	/*
	background: #5C4E0F !important;
	background-image: linear-gradient(to bottom, #978634, #6d5c0a) !important;
	*/
}


.loader-animation:before,
.loader-animation:after,
.loader:before,
.loader:after {
  opacity: 0;
  box-sizing: border-box;
  content: "\0020";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 5px solid #fff;
  box-shadow: 0 0 50px #fff, inset 0 0 50px #fff;
}

.loader-animation:after ,
.loader:after {
  z-index: 1;
  -webkit-animation: gogoloader 2s infinite 1s;
}

.loader-animation:before,
.loader:before {
  z-index: 2;
  -webkit-animation: gogoloader 2s infinite;
}

@-webkit-keyframes gogoloader {
  0% {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}


/*Virtual Progress Bar*/
#progress-bar-container,
.progress-bar-container{
	height:3.5px;
	margin-bottom:-1px;
}
#virtual-progress-bar{
	height:3.5px;
	width:100%;
	position:relative;
}
#virtual-progress-bar .progress-bar{
	height:100%;
	/*background:#f6e492;*/
	background:#1109F3;
	/*
	border-top:2px solid #f6e492;
	border-bottom:1px solid #978634;*/
	/*background:linear-gradient(to bottom, #978634, #6d5c0a);*/
}

ul.ui-listview li a span.ui-body-g{
	background: #b30000;
	color: #fff;
	border-radius:50%;
	text-shadow:none;
}


.video-title{
	margin: -0.2em 0;
	border: 1px solid #ddd;
	background: #eee;
	font-size: 1.1em;
	padding: 0.5em;
	font-weight: normal;
	font-family: 'Open Sans', sans-serif;
	color: rgb(14, 14, 13);
}

#mallam-musa h2.season-title a.ui-btn{
	font-size:1.2em;
}
#mallam-musa .ui-li-static.ui-collapsible > .ui-collapsible-heading {
    margin: 0;
}
#mallam-musa .ui-li-static.ui-collapsible {
    padding: 0;
}
#mallam-musa .ui-li-static.ui-collapsible > .ui-collapsible-heading > .ui-btn {
    border-top-width: 0;
}
#mallam-musa .ui-li-static.ui-collapsible > .ui-collapsible-heading.ui-collapsible-heading-collapsed > .ui-btn,
#mallam-musa .ui-li-static.ui-collapsible > .ui-collapsible-content {
    border-bottom-width: 0;
}

.iscroll-pull-label{
	text-align:center;
}